<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cheerio.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9B69280499540346FFA12F1C95674CC89BEBED94</string>
				<key>dateExpires</key>
				<string>04/10/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7LH8V482CR.org.digimonk.cheerio</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.in-app-payments</key>
				<array>
					<string>merchant.cheerioApplePay</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>7LH8V482CR</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Cheerio.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b02c6fc6-e5e0-48dc-be22-7de61d01dd27</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: org.digimonk.cheerio</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7LH8V482CR</string>
				<key>name</key>
				<string>Cheerio LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
